body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #444F60;
  font-family: 'Open Sans', sans-serif;
}
#navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 25%;
  height: 100%;
  background: #444F60;
  padding-left: 35px;
}
#logo {
  margin-top: 30px;
  width: 50%;
}
#navbar a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 100px;
  padding-bottom: 15px;
  border-bottom: solid 1px
}
#navbar a:hover {
  color: #9c3;
  border-color: white;
}
#contact {
  margin-top: auto;
  margin-bottom: 20px;
  color: white;
}
#email {
  color: #9c3;
}
#main-doc {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  padding-top: 30px;
  margin-left: 25%;
  margin-right: 0px;
  color: #444;
  background: white;
  padding-left: 150px;
  padding-right: 150px;
}
.main-section {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: solid 5px;
  border-color: #9c3;
}
h1 {
  font-size: 27px;
  color: #444F60;
  text-transform: uppercase;
  margin: 30px auto;
}
#nav-title {
  margin-top: 10px;
  color: #9c3;
}
p, ul, ol {
  line-height: 1.5;
}
h2 {
  margin-top: 50px;
  color: #444F60;
  font-size: 20px;
  text-transform: uppercase;
}
code {
  font-size: 15px;
  color: #1f4a00;
  background: #eee;
}
b {
  color: #9c3;
}
